body {
    background-color:#FF8A65;
}
video{
    height:270px;
    width:280px;
}
.up{
    position:absolute;
    height:350px;
    width:395px;
    background-color:#99ccff;
    border-radius:20px;
    top:20%;
}
.u{
    position:relative ;
    height:275px;
    width:280px;
    background-color:black;
    border-radius:20px;
    top:11px;
    left:10px;
    border:15px solid #795548;
}
.d1,.d2{
    position:relative;
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:grey;
    top:-50%;
    left:83%;
}
.sm{    
    position:relative;
    height:30px;
    width:70px;
    background-color:black;
    border-radius:50px 50px 0 0;
    top:-124%;
    left:20%;
}
.l,.r{
    position:relative ;
    height:80px;
    width:4px;
    background-color:black;
    top:-70px;
    left:30px;
    float:left;
    transform-origin:bottom;
    z-index:-1;
}
.l{
    transform:rotate(45deg);
}
.r{
    transform:rotate(-45deg);
}
.e,.d{
    position:relative;
    height:30px;
    width:30px;
    top:20%;
    left:20%;
    border-radius:50%;
    background-color:black;
}
.bb{
    position:relative;
    height:100px;
    width:50px;
    background-color:black;
    border-radius:20px;
    top:-120%;
    left:83%;
}
.st,.stl{
    position:relative;
    height:30px;
    width:10px;
    background-color:black;
    border-radius:50px;
    top:-55%;
    left:20%;
    transform:rotate(45deg);
    z-index:-1;
}
.stl{
    transform:rotate(-45deg);
    top:-222px;
    left:70%;
}
